@tailwind base;
@tailwind components;
@tailwind utilities;

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full screen height */
  width: 100vw; /* Full screen width */
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Slightly transparent white background */
  z-index: 50; /* Ensure it appears above other content */
}

.blob {
  width: 100px;
  height: 100px;
  background: linear-gradient(135deg, #4f83cc, #2855ac);
  border-radius: 50%;
  animation: blobAnimation 2s infinite ease-in-out;
}

@keyframes blobAnimation {
  0%,
  100% {
    transform: scale(1);
    border-radius: 50%;
  }
  50% {
    transform: scale(1.2);
    border-radius: 40%;
  }
}
